---
- name: Install Docker
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Install Python packages required for Ansible Docker modules
  apt:
    name:
      - python3-pip
      - python3-setuptools
    state: present

- name: Install Docker SDK for Python (docker)
  pip:
    name: docker
    executable: pip3

- name: Run FastAPI container
  docker_container:
    name: fastapi-app
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.9
    state: started
    restart_policy: always
    ports:
      - "8000:80"
