---
- name: Baseline server setup
  hosts: app
  become: true

  tasks:
    - name: Update apt cache (Only  if older than 1 hour)
      apt:
        update_cache: yes
        cache_valid_time: 3600
    - name: Install common packages
      apt:
        name:
          - curl
          - git
          - htop
        state: present

